* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
/* format logo  */
.logo {
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-left: 20px;
  margin-top: 5px;
  /*the margin top pushes the logo down by 10 pixels*/
  /* border-radius: 50%; */
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  /* background: rgba(0, 0, 0, 0.7); */
  background: #062f66;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #062f66;
  /* Scroll Snap */
  scroll-snap-align: center;
}
section #home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* background-color: #062f66; */
  /* Scroll Snap */
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

/* Section Images */
/* section #home {
  background-color: #062f66;
} */

.pro-shot img {
  /* background: url("https://source.unsplash.com/bZZp1PmHI0E/1600x900") no-repeat
    center center/cover; */
  display: block;
  margin-left: 400px;
  margin-right: auto;
  /* background-color: #062f66; */
  box-shadow: 10px 10px 10px lightblue;
}

/* section #about {
  background: url("https://source.unsplash.com/VRxo0yY-gyM/1600x900") no-repeat
    center center/cover;
 } */
/* Below code was recommended by the AskBCS LearningAssistant. Thanks */
/* Code will change the color for each individual sections: home, about, portfolio, & contact */
.about {
  background-color: #00aeff;
}

/* section #portfolio {
  background: url("https://source.unsplash.com/K2tdx2mFDHc/1600x900") no-repeat
    center center/cover;
} */
/* Below code was recommended by the AskBCS LearningAssistant. Thanks */
/* Code will change the color for each individual sections: home, about, portfolio, & contact */
.portfolio {
  background-color: #008cff;
  display: grid;
  grid-template-columns: auto;
}

.box {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, auto)); */
  cursor: pointer;
  border: 1px solid lightblue;
  border-radius: 5px;
}
.box img {
  max-width: 100%;
  width: 160px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.box p {
  color: white;
  font-size: 15px;
  margin-bottom: 15px;
}
.box h5 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.box img:hover {
  transform: scale(1.1);
}

/* section #contact {
  background: url("https://source.unsplash.com/2aAHlfDOhJM/1600x900") no-repeat
    center center/cover;
} */

.contact {
  background: #062f66;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 3rem;
  text-align: center;
}
.contact-form h2 {
  font-size: 60px;
  margin-bottom: 15px;
  color: red;
}
.contact-form p {
  color: #062f66;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 20px;
  margin-bottom: 4.1rem;
}
.contact-form {
  position: relative;
}
.contact-form form input,
form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: lightgray;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form form .send {
  display: inline-block;
  background: #062f66;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid lightblue;
  width: 200px;
  transition: ease 0.35s;
  text-transform: uppercase;
}
.contact-form form .send:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #062f66;
  color: white;
}
.footer p {
  font-size: 17px;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
  .container,
  .navbar {
    flex-direction: column;
  }
}
